<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="scroll">
    <h1>Welcome to My Flask Blog!</h1>

    <div class="action-bar">
        <a href="{{ url_for('add') }}" class="btn-link">Add a New Post</a>
    </div>

    {% for post in posts %}
        <div class="post">
            <h2>{{ post.title }}</h2>
            <div class="post-content">
                <p>{{ post.content }}</p>
            </div>
            <p class="author">{{ post.author }}</p>

            <form class="post-actions" method="POST">
            <button type="submit"
                    formaction="{{ url_for('delete', post_id=post.id) }}"
                    formmethod="post"
                    class="btn-delete">
                Delete
            </button>
            <button type="submit"
                    formaction="{{ url_for('update', post_id=post.id) }}"
                    formmethod="get"
                    class="btn-update">
                Update
            <button type="submit"
                    formaction="{{ url_for('like', post_id=post.id) }}"
                    formmethod="post"
                    class="btn-like">
                💖 {{ post.get('likes', 0) }}
            </button>
            </form>

        </div>
    {% endfor %}
</body>
</html>
